.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.msg{
    text-align: center;
}

.msg h1{
    font-size: 3rem;
}