@import "variables";

.home-wrapper {
  width: 100%;
  .hero {
    display: flex;
    position: relative;

    .intro {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 111111;
      background: $blackTransparent;
      padding: 3rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      text-transform: lowercase;
      color: $secondary;

      h1 {
        // font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        &::first-letter {
          text-transform: capitalize;
        }
      }
      p {
        // font-size: 1.5rem;
        font-weight: 400;
        color: $whiteGray;
        margin-bottom: 1rem;
      }

      .action-btn {
        width: fit-content;
        background: $secondary;
        color: $blackGray;
        font-size: 1.2rem;
        text-transform: capitalize;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        padding: 0.6rem;
        border-radius: 0.3rem;
        &:hover {
          background: $primary;
          color: $whiteGray;
        }
      }
      @media screen and (min-width: 768px) {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .home-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
