@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");
@import 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: "Space Grotesk", sans-serif;
  // background-color: $whiteGray;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
