// variables for colors
$primary: #5D3891;
$primaryTransparent: #5d3891fd;
$secondary: #F99417;

$gray: #E8E2E2;
$whiteGray: #F5F5F5;
$blackGray: #2D2D2D;
$grayTransparent: #e8e2e28f;
$blackTransparent: #000000b2;